
.container{
   
    max-width: 1172px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container-xl{
    max-width: 1352px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

}

body{
   font-family: 'Noto Sans TC', sans-serif' , Noto Serif TC', serif;
   font-weight: 400;
   background-color: #F0F0F0;
   color:#161A14;
   line-height: 1.5;
}


a{
    text-decoration: none;
    color:$black-100;
   
}     

img{
    max-width: 100%;
    height: auto;
    display: block;
}

h1{
    font-size: 48px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
}
h2{
    font-size: 32px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
}
h3{
    font-size: 24px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
}
h4{
    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
}
h5{
    font-size: 16px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
}
p{
    font-size: 16px;
}
.text-sm{
    font-size: 12px;
}

.text-lg{
    font-size: 20px;
}
.text-xl{
    font-size: 24px;
}

.d-flex{
    display: flex;
}

// .col-4{
//     width: calc(100% / 3 - 24px);
//     margin: 0 12px;
  
// }
.col-3{
    width: calc(100% / 4 - 24px);
   
}

.col-4{
    width: calc( (100% - 72px) / 4);
}


