
.cookie-wrapper{
    margin-top: 72px;
    h2{
        text-align: center;
        padding-top: 32px;
        padding-bottom: 48px;
    }
}

.product-container{
    max-width: 978px;
    margin: 0 auto;
    padding: 0px 16px;
}

.product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .product-item{
        width: calc( (100% - 145px) / 3 );
        text-align: center;
        margin-bottom: 48px;
        
        img{
            border-radius: 4px;
            cursor: pointer;
        }
        h5{
            margin-top: 16px;
            margin-bottom: 8px;
            letter-spacing: 3px;
        }
        p{
            margin-bottom: 16px;
            color:$black-70;
            letter-spacing: 3px;
            font-size: 14px;
        }
   
        .btn-primary{
            display: block;
            padding: 10px 0px;
            background-color: $secondary;
            color:$primary;
            border-radius: 4px;
            transition: all .5s;
            &:hover{
                background-color: $btn-hover;
            }

        }
    }
}