$black-100:#161A14;
$black-90:rgba(22, 26, 20, 0.9);
$black-80:rgba(22, 26, 20, 0.8);
$black-70:rgba(22, 26, 20, 0.7);
$black-50:rgba(22, 26, 20, 0.5);
$black-30:rgba(48, 48, 48, 0.3);
$black-10:rgba(48, 48, 48, 0.1);

$primary:#F0F0F0;
$secondary:#738673;