@import 'reset';
@import 'variables';
@import 'base';


header{
    background-color: $primary;
    
}
nav{
    background-color: $primary;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;


  
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-buger{
    display: none;
}
    .nav-content{
        width: 389px;
        justify-content: space-between;
        display: flex;
        a{
            margin: 20px 0px;
            padding: 4px 0px;
            color:$black-100;
            transition: all .5s;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                width: 0%;
                margin: auto;
                color:transparent;
                background:black;
                height: 1px;
            }
        }

        .nav-content_main{
            display: flex;
            width: 333px;
            justify-content: space-between;
           
           
        }
    }
}
.nav-content a:hover{
    color:$brand-color;
}
.nav-content a:after{
    transition: all .5s;
}
.nav-content a:hover::after{
    width: 100%;
}

@media(max-width:992px){
    
        .logo{
          
            img{
                width: 127.41px;
             }
        }
        nav{
            .icon-buger{
                display: block;
            }
            .logo{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%),;
            }
        .nav-content{
            justify-content: flex-end;
            
            .nav-content_main{
            display: none;
            }
            
        }
    }

    

}  

.banner{
    // 993/1400 讓他等比例縮小
     padding-bottom: 66.67%;
   margin-top: 72px;
   background-image: url("../images/newbanner.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   position: relative;
}


.banner-text{
    writing-mode: vertical-lr;
    color:$primary;
    position: absolute;
    top:25%;
    right:12%;

    .banner-text_title{
        letter-spacing: 20px;
        padding-right:30px;
    }

    .banner-text_content{
        padding-top: 180px;
        letter-spacing: 15px;
    }
}
@media(max-width:992px){
    
    .banner-text{

        .banner-text_title{
            font-size: 32px;
        }
        .banner-text_content{
            padding-top: 100px;
        }
    }
}
@media (max-width:768px){
    .banner{
        .banner-text{
            .banner-text_title{
                font-size: 20px;
                padding-right: 10px;

            }
        .banner-text_content{
            padding-top: 0px;
            font-size: 12px;
        }
    }
    }
}
@media(max-width:576px){
    .banner{
        .banner-text{
            top:20%;
            right:10%;

            .banner-text_title{
               letter-spacing:10px;

            }
        .banner-text_content{
            
            letter-spacing: 6px;
        }
    }
    }
    
}

.intro{
    margin-top: 100px;
    margin-bottom: 100px;

    .orign{
        display: flex;
        align-items: center;
    
    .orign-text{
        width: 240px;
        margin-left:121px;
        
        h4{
            margin-bottom: 32px;
        }
    }
        img{
            width: 57%;
        }
    }
    .orign{
        margin-bottom: 32px;

        .orign-title{
            position: relative;
            margin-left: 64px;
            

            &::before{
                position: absolute;
                content: "";
                height: 1px;
                width: 56px;
                background-color:$black-100;
                top:calc(50% + 0.1rem);
                left:-65px;
            }
        }
    }
    .package{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        img{
            width: 57%;
        }
        .package-text{
            width: 240px;
            margin-right: 121px;

            .package-title{
                margin-bottom: 32px;
                margin-left: 64px;
                position: relative;
               

                &::before{
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 56px;
                    background-color:$black-100;
                    top:calc(50% + 0.1rem);
                    left:-65px;
                    
                }
            }

        }
    }
}

@media(max-width:768px){
    .intro{
        margin: 80px 0px;
    .orign{
        flex-direction: column-reverse;

        img{
            width: 100%;
        }
        .orign-text{
            width: 100%;
            margin-left:0px;
        }
    }
    .package{
        flex-direction: column-reverse;
        img{
            width: 100%;
        }
        .package-text{
            width: 100%;
            margin-right:0px;
        }
    }
}


}
.cookie{
    background-color: $secondary;
    .cookie-title{
        padding: 32px 0px;
        color:$primary;
    }
.cookie-viewMore{
    padding: 32px 0px;
    .viewMore{
        display: block;
        position: relative;
        padding-right: 48px;
        text-align: right;
        color:$primary;
    
        &::before{
            position: absolute;
            content: "";
            height: 1px;
            width: 40px;
            background-color: $primary;
            top:calc(50% + 0.1rem);
            right:1px;

        }
    }
}
}
.cookie-item{
 
    justify-content: space-between;
    li{
        width: calc( (100% - 72px) / 4);
        position: relative;
    }
    p{
        position: absolute;
        width: 100%;
        bottom: 0px;
        text-align: center;
        padding: 6px ;
        background-color: $black-50;
        color:$primary;
        
    }
}

.present{
    margin: 100px 0px;

    h2{
        margin-bottom: 100px;
    }
}
.present-title{
    text-align: center;
    
}
.present-list{
    display: flex;
    justify-content: space-between;
    
    .present-item{
        width: calc( (100% - 72px) / 3);
        position: relative;

        .present-item_title{
            writing-mode: vertical-lr;
            position: absolute;
            top:-51px;
            left:24px;
            letter-spacing: 8px;
            font-weight: 500;
        }
        
        p{
            text-align: center;
            margin-top: 24px;
        }
        .present-more{
            margin-left: 24px;
            margin-top: 16px;
            
        a{
            position: relative;
            font-size: 12px;
           
            &::before{
                position: absolute;
                content: "";
                height: 1px;
                width: 40px;
                background-color: $black-100;
                top:calc(50% + 0.1rem);
                right: -48px;

            }
        }
        }
    }
}

footer{
    background-color: $secondary;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:$primary;

    li{
        padding-top:44px;
        padding-bottom: 24px;
    }

    .pagetop{
        position: relative;
        padding-right: 9px;
        
        &::before{
            position: absolute;
            content: "";
            height: 80px;
            width: 1px;
            top:-10px;
            right: 0px;
            background-color:$primary;
        }
    }
}
.instagram{
    display: flex;
    font-size: 12px;
    align-items: center;
    font-family:  'Noto Serif TC', serif;
    font-weight: 300;
    padding-bottom: 24px;
    color:$primary;

    img{
        margin-right: 16px;
        color:$primary;
        font-weight: 300;
    }
    
}
.copyright{
    font-size: 12px;
    font-family:  'Noto Serif TC', serif;
    font-weight: 300;
}
.pagetop {
    a{
        color:$primary;
        font-family:  'Noto Serif TC', serif;
        font-weight: 300;
    }
}
