/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-xl {
  max-width: 1352px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-md {
  max-width: 752px;
  padding: 0px 16px;
}

body {
  font-family: "Noto Sans TC", sans-serif " , Noto Serif TC", serif;
  font-weight: 400;
  background-color: #F0F0F0;
  color: #161A14;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #161A14;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 48px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h6 {
  font-size: 12px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-primary {
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px 0px;
  background-color: #738673;
  color: #F0F0F0;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: none;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #5C685A;
}

.col-3 {
  width: calc(100% / 4 - 24px);
}

.col-4 {
  width: calc( (100% - 72px) / 4);
}

main {
  min-height: calc(100vh - 128px);
}

header {
  background-color: #F0F0F0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

nav {
  background-color: #F0F0F0;
}

nav .topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .btn-buger {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

nav .btn-buger::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #161A14;
  top: 8px;
  right: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav .btn-buger::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #161A14;
  bottom: 8px;
  right: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav .btn-buger.open::before,
nav .btn-buger.open::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .btn-buger.open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .btn-buger.open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .nav-content {
  width: 389px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-content a {
  margin: 20px 0px;
  padding: 4px 0px;
  color: #161A14;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

nav .nav-content a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  margin: auto;
  color: transparent;
  background: black;
  height: 1px;
}

nav .nav-content .nav-content_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 333px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-content a:hover {
  color: #492E24;
}

.nav-content a:after {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-content a:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  .logo {
    z-index: 4;
  }
  .logo img {
    width: 127.41px;
  }
  nav .btn-buger {
    display: block;
    z-index: 4;
  }
  nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  nav .nav-content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .nav-content .nav-content_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #F0F0F0;
    z-index: 3;
  }
  nav .nav-content .nav-content_main .icon-account {
    margin: 0 auto;
  }
  nav .nav-content .nav-content_cart {
    z-index: 4;
  }
  nav .nav-content .nav-content_main.open {
    height: 100vh;
  }
  .nav-content_main a:nth-child(1) {
    margin-top: 80px;
  }
  .nav-content_main a:nth-last-child() {
    margin-bottom: 70px;
  }
}

.banner {
  padding-bottom: 66.67%;
  margin-top: 72px;
  background-image: url("../images/newbanner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.banner-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #F0F0F0;
  position: absolute;
  top: 25%;
  right: 12%;
}

.banner-text .banner-text_title {
  letter-spacing: 20px;
  padding-right: 30px;
}

.banner-text .banner-text_content {
  padding-top: 180px;
  letter-spacing: 15px;
}

@media (max-width: 992px) {
  .banner-text .banner-text_title {
    font-size: 32px;
  }
  .banner-text .banner-text_content {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .banner .banner-text .banner-text_title {
    font-size: 20px;
    padding-right: 10px;
  }
  .banner .banner-text .banner-text_content {
    padding-top: 0px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .banner .banner-text {
    top: 20%;
    right: 10%;
  }
  .banner .banner-text .banner-text_title {
    letter-spacing: 10px;
  }
  .banner .banner-text .banner-text_content {
    letter-spacing: 6px;
  }
}

.intro {
  margin-top: 100px;
  margin-bottom: 100px;
}

.intro .orign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .orign .orign-text {
  width: 240px;
  margin-left: 121px;
}

.intro .orign .orign-text h4 {
  margin-bottom: 32px;
}

.intro .orign img {
  width: 57%;
}

.intro .orign {
  margin-bottom: 32px;
}

.intro .orign .orign-title {
  position: relative;
  margin-left: 64px;
}

.intro .orign .orign-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 56px;
  background-color: #161A14;
  top: calc(50% + 0.1rem);
  left: -65px;
}

.intro .package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .package img {
  width: 57%;
}

.intro .package .package-text {
  width: 240px;
  margin-right: 121px;
}

.intro .package .package-text .package-title {
  margin-bottom: 32px;
  margin-left: 64px;
  position: relative;
}

.intro .package .package-text .package-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 56px;
  background-color: #161A14;
  top: calc(50% + 0.1rem);
  left: -65px;
}

@media (max-width: 767px) {
  .intro {
    margin: 80px 0px;
  }
  .intro .orign {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro .orign img {
    width: 100%;
  }
  .intro .orign .orign-text {
    width: 100%;
    margin-left: 0px;
  }
  .intro .package {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro .package img {
    width: 100%;
  }
  .intro .package .package-text {
    width: 100%;
    margin-right: 0px;
  }
}

.cookie {
  background-color: #738673;
}

.cookie .cookie-title {
  padding: 32px 0px;
  color: #F0F0F0;
}

.cookie .cookie-viewMore {
  padding: 32px 0px;
  text-align: right;
}

.cookie .cookie-viewMore .viewMore {
  position: relative;
  padding-right: 48px;
  color: #F0F0F0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.cookie .cookie-viewMore .viewMore:hover {
  color: rgba(240, 240, 240, 0.5);
}

.cookie .cookie-viewMore .viewMore:hover::before {
  background-color: rgba(240, 240, 240, 0.5);
}

.cookie .cookie-viewMore .viewMore::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #F0F0F0;
  top: calc(50% + 0.1rem);
  right: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.cookie-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cookie-item li {
  width: calc( (100% - 72px) / 4);
  position: relative;
}

.cookie-item p {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 6px;
  background-color: rgba(22, 26, 20, 0.5);
  color: #F0F0F0;
}

@media (max-width: 767px) {
  .cookie .cookie-title {
    font-size: 24px;
    text-align: center;
  }
  .cookie .cookie-viewMore {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .cookie-item li {
    width: calc( (100% - 24px) / 2);
    margin-bottom: 16px;
    position: relative;
  }
}

.present {
  margin: 100px 0px;
}

.present h2 {
  margin-bottom: 100px;
}

.present-title {
  text-align: center;
}

.present-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.present-list .present-item {
  width: calc( (100% - 72px) / 3);
  position: relative;
}

.present-list .present-item .present-item_title {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: -51px;
  left: 24px;
  letter-spacing: 8px;
  font-weight: 500;
}

.present-list .present-item p {
  text-align: center;
  margin-top: 24px;
}

.present-list .present-item .present-more {
  margin-left: 24px;
  margin-top: 16px;
}

.present-list .present-item .present-more a {
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.present-list .present-item .present-more a:hover {
  color: rgba(22, 26, 20, 0.5);
}

.present-list .present-item .present-more a:hover::before {
  background-color: rgba(22, 26, 20, 0.5);
}

.present-list .present-item .present-more a::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #161A14;
  top: 50%;
  right: -48px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 767px) {
  .present {
    margin-top: 80px;
    margin-bottom: 0px;
  }
  .present .present-title {
    font-size: 24px;
  }
  .present-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .present-list .present-item {
    width: 100%;
    margin-bottom: 100px;
  }
  .present-list .present-item p {
    text-align: right;
    margin-top: 16px;
  }
  .present-list .present-item .present-more {
    text-align: right;
    padding-right: 50px;
  }
}

footer {
  background-color: #738673;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #F0F0F0;
}

.footer-content li {
  padding-top: 44px;
  padding-bottom: 24px;
}

.footer-content .pagetop {
  position: relative;
  padding-right: 9px;
}

.footer-content .pagetop a {
  color: #F0F0F0;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer-content .pagetop a:hover {
  color: rgba(240, 240, 240, 0.5);
}

.footer-content .pagetop a:hover::before {
  background-color: rgba(240, 240, 240, 0.5);
}

.footer-content .pagetop a::before {
  position: absolute;
  content: "";
  height: 80px;
  width: 1px;
  top: -10px;
  right: 0px;
  background-color: #F0F0F0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
  padding-bottom: 24px;
  color: #F0F0F0;
}

.instagram img {
  margin-right: 16px;
  color: #F0F0F0;
  font-weight: 300;
}

.copyright {
  font-size: 12px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}

.cookie-wrapper {
  margin-top: 72px;
}

.cookie-wrapper h2 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 48px;
}

.product-container {
  max-width: 978px;
  margin: 0 auto;
  padding: 0px 16px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-list .product-item {
  width: calc( (100% - 145px) / 3);
  margin-right: 72.5px;
  text-align: center;
  padding-bottom: 48px;
}

.product-list .product-item:nth-child(3n) {
  margin-right: 0;
}

.product-list .product-item img {
  border-radius: 4px;
  cursor: pointer;
}

.product-list .product-item h5 {
  margin-top: 16px;
  margin-bottom: 16px;
  letter-spacing: 3px;
}

.product-list .product-item p {
  margin-bottom: 16px;
  color: rgba(22, 26, 20, 0.7);
  letter-spacing: 3px;
  font-size: 14px;
}

.product-list .product-item .btn-primary {
  display: block;
  padding: 10px 0px;
  background-color: #738673;
  color: #F0F0F0;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.product-list .product-item .btn-primary:hover {
  background-color: #5C685A;
}

@media (max-width: 767px) {
  .product-container {
    max-width: 628px;
    margin: 0 auto;
    padding: 0px 4vw;
  }
  .product-list .product-item {
    width: calc( (100% - 16px) / 2);
    margin-right: 16px;
    padding-bottom: 32px;
  }
  .product-list .product-item:nth-child(2n) {
    margin-right: 0;
  }
  .product-list .product-item:nth-child(3n) {
    margin-right: 16px;
  }
  .product-list .product-item:nth-child(6n) {
    margin-right: 0px;
  }
  .product-list .product-item .btn-primary {
    font-size: 12px;
    padding: 8px 0px;
  }
}

.col-6 {
  width: calc(100% / 2 - 16px);
  margin: 0 8px;
}

.product-content_wrapper {
  max-width: 978px;
  padding: 0px 16px;
  margin: 0 auto;
  margin-top: 72px;
}

.bread {
  padding-top: 56px;
  padding-bottom: 40px;
  color: rgba(48, 48, 48, 0.3);
}

.bread a {
  color: rgba(22, 26, 20, 0.7);
  letter-spacing: 2px;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.product-img {
  width: 48.731501%;
}

.product-img img {
  margin-bottom: 16px;
}

.sub-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub-product li {
  width: calc((100% - (24px * 4)) / 5);
  margin-right: 24px;
}

.sub-product li:nth-child(5n) {
  margin-right: 0;
}

.product-info {
  width: 38.4%;
}

.product-info h3, .product-info p {
  margin-bottom: 16px;
}

.product-info h3 {
  letter-spacing: 2px;
}

.product-info .delivery {
  padding-top: 32px;
}

.product-info .add-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 32px;
}

.product-info .add-cart::after {
  position: absolute;
  content: "";
  width: 170px;
  height: 1px;
  top: 76px;
  background-color: rgba(48, 48, 48, 0.3);
}

.product-info .add-cart .btn-number {
  padding: 10px 16px;
  padding-right: 8px;
  width: 73px;
  margin-right: 24px;
  background-color: #F0F0F0;
  border-radius: 4px;
}

.product-info .add-cart .btn-primary {
  width: 267px;
}

@media (max-width: 767px) {
  .product-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-img {
    width: 100%;
  }
  .sub-product li {
    width: calc((100% - (16px * 4)) / 5);
    margin-right: 16px;
  }
  .product-info {
    width: 100%;
  }
}

.wrap {
  margin-top: 72px;
}

.loginpage .welcome {
  text-align: center;
  padding-bottom: 32px;
}

.forget {
  font-size: 12px;
  margin-bottom: 24px;
  color: rgba(22, 26, 20, 0.7);
  margin: 0 auto;
  width: 485px;
}

input {
  display: block;
  width: 485px;
  margin: 0 auto;
  padding: 9px 16px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #F0F0F0;
}

input[name="password-login"] {
  margin-bottom: 16px;
}

.login {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.login .btn-primary {
  width: 218px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.login .facebook {
  background-color: #3B5998;
}

.login .facebook:hover {
  background-color: #0c3180;
}

.login .submit-btn {
  border: none;
  font-size: 16px;
  margin-top: 24px;
}

.line {
  height: 1px;
  background-color: rgba(48, 48, 48, 0.3);
  width: 42.54386%;
  margin: 24px auto;
  margin-top: 40px;
}

@media (max-width: 767px) {
  form {
    width: 90%;
  }
  input[type="text"] {
    width: 100%;
  }
  .forget {
    width: 100%;
  }
  .line {
    width: 100%;
  }
  .login {
    width: 90%;
  }
  .login .btn-primary {
    width: 100%;
  }
}

.custom-container {
  max-width: 784px;
  padding: 0px 16px;
  margin: 0 auto;
}

.custom-bg {
  background-color: #C0B3A2;
  background-size: 100%;
}

.custom-bg .custom-pic {
  position: relative;
}

.custom-bg .custom-pic img {
  margin: 0 auto;
  padding: 14.245014% 0px;
}

.custom-bg .custom-pic .custom-title {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  top: 5.128205%;
  left: 5.1%;
  letter-spacing: 15px;
  color: #F0F0F0;
}

.custom-text {
  margin: 32px 0px;
}

.custom-text .custom-text_main {
  font-size: 20px;
  margin-bottom: 16px;
}

.custom-form input[type="text"] {
  margin-bottom: 0;
  width: 267px;
}

.custom-form label {
  color: rgba(22, 26, 20, 0.5);
  font-size: 12px;
}

.btn-custom {
  width: 22.606383%;
  margin-top: 24px;
}

.custom-content_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .custom-bg .custom-pic .custom-title {
    font-size: 16px;
  }
  .custom-text {
    margin: 8px 0px;
  }
  .custom-text .custom-text_main {
    font-size: 16px;
  }
  .custom-content_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .custom-content_form .custom-form, .custom-content_form .btn-custom {
    width: 100%;
  }
  .custom-content_form .custom-form input[type="text"], .custom-content_form .btn-custom input[type="text"] {
    width: 100%;
  }
}

.faq {
  max-width: 752px;
  margin: 0 auto;
}

.faq h2 {
  text-align: center;
  padding-top: 40px;
}

.faq-content {
  margin-top: 56px;
}

.faq-list {
  padding: 16px 24px;
  background-color: #F0F0F0;
  -webkit-box-shadow: 0px 2px 10px rgba(48, 48, 48, 0.1);
          box-shadow: 0px 2px 10px rgba(48, 48, 48, 0.1);
  cursor: pointer;
  margin-bottom: 48px;
  border-radius: 4px;
}

.faq-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.faq-title_p {
  padding-top: 24px;
  display: none;
  color: rgba(22, 26, 20, 0.7);
}

.btn-faq {
  border: none;
  width: 24px;
  height: 24px;
  background-color: #F0F0F0;
  position: relative;
  cursor: pointer;
}

.btn-faq::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #4C684C;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-faq::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #4C684C;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-faq.open::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.text-title_color {
  color: #4C684C;
}

@media (max-width: 767px) {
  .faq-title {
    font-size: 16px;
  }
}

.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 100px;
}

.about-main .about-text {
  max-width: 404px;
  background-color: #C0B3A2;
  position: absolute;
  padding: 0px 40px;
  padding-bottom: 80px;
  left: 12.45614%;
  margin-top: 20%;
  z-index: 3;
  border-radius: 4px;
}

.about-main .about-text h2 {
  padding-top: 32px;
  padding-bottom: 50px;
  position: relative;
}

.about-main .about-text h2::after {
  position: absolute;
  content: "";
  width: 117px;
  height: 1px;
  left: 130px;
  top: 45%;
  background-color: #161A14;
}

.about-main .about-text p {
  padding-bottom: 16px;
}

.about-main img {
  width: 40.438596%;
  margin-left: 42.543859649%;
  margin-top: 8%;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .about-main {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-main .about-text {
    max-width: 100%;
    position: static;
    margin-top: 0;
    padding-bottom: 40px;
    border-radius: 0px 0px 12px 12px;
  }
  .about-main img {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    border-radius: 12px 12px 0px 0px;
  }
}

.order-title {
  text-align: center;
}

.shopping-main {
  max-width: 978px;
  padding: 0px 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-main form {
  -webkit-box-shadow: 0 0 12px rgba(48, 48, 48, 0.1);
          box-shadow: 0 0 12px rgba(48, 48, 48, 0.1);
  border-radius: 4px;
}

.shopping-main form label {
  font-size: 12px;
  color: rgba(22, 26, 20, 0.5);
}

.shopping-main form input {
  margin: 0;
  width: 100%;
}

.order {
  width: 558px;
  padding: 24px;
}

.cart {
  width: 364px;
  padding: 24px;
  margin-left: 24px;
}
/*# sourceMappingURL=all.css.map */