/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-xl {
  max-width: 1352px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-md {
  max-width: 752px;
  padding: 0px 16px;
}

body {
  font-family: "Noto Sans TC", sans-serif " , Noto Serif TC", serif;
  font-weight: 400;
  background-color: #F0F0F0;
  color: #161A14;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #161A14;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 48px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h6 {
  font-size: 12px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-3 {
  width: calc(100% / 4 - 24px);
}

.col-4 {
  width: calc( (100% - 72px) / 4);
}

header {
  background-color: #F0F0F0;
}

nav {
  background-color: #F0F0F0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav .topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .btn-buger {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

nav .btn-buger::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #161A14;
  top: 8px;
  right: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav .btn-buger::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #161A14;
  bottom: 8px;
  right: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav .btn-buger.open::before,
nav .btn-buger.open::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .btn-buger.open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .btn-buger.open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .nav-content {
  width: 389px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-content a {
  margin: 20px 0px;
  padding: 4px 0px;
  color: #161A14;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

nav .nav-content a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  margin: auto;
  color: transparent;
  background: black;
  height: 1px;
}

nav .nav-content .nav-content_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 333px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-content a:hover {
  color: #492E24;
}

.nav-content a:after {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-content a:hover::after {
  width: 100%;
}

@media (max-width: 992px) {
  .logo {
    z-index: 4;
  }
  .logo img {
    width: 127.41px;
  }
  nav .btn-buger {
    display: block;
    z-index: 4;
  }
  nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  nav .nav-content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .nav-content .nav-content_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #F0F0F0;
    z-index: 3;
  }
  nav .nav-content .nav-content_main .icon-account {
    margin: 0 auto;
  }
  nav .nav-content .nav-content_cart {
    z-index: 4;
  }
  nav .nav-content .nav-content_main.open {
    height: 100vh;
  }
}

.banner {
  padding-bottom: 66.67%;
  margin-top: 72px;
  background-image: url("../images/newbanner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.banner-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #F0F0F0;
  position: absolute;
  top: 25%;
  right: 12%;
}

.banner-text .banner-text_title {
  letter-spacing: 20px;
  padding-right: 30px;
}

.banner-text .banner-text_content {
  padding-top: 180px;
  letter-spacing: 15px;
}

@media (max-width: 992px) {
  .banner-text .banner-text_title {
    font-size: 32px;
  }
  .banner-text .banner-text_content {
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  .banner .banner-text .banner-text_title {
    font-size: 20px;
    padding-right: 10px;
  }
  .banner .banner-text .banner-text_content {
    padding-top: 0px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .banner .banner-text {
    top: 20%;
    right: 10%;
  }
  .banner .banner-text .banner-text_title {
    letter-spacing: 10px;
  }
  .banner .banner-text .banner-text_content {
    letter-spacing: 6px;
  }
}

.intro {
  margin-top: 100px;
  margin-bottom: 100px;
}

.intro .orign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .orign .orign-text {
  width: 240px;
  margin-left: 121px;
}

.intro .orign .orign-text h4 {
  margin-bottom: 32px;
}

.intro .orign img {
  width: 57%;
}

.intro .orign {
  margin-bottom: 32px;
}

.intro .orign .orign-title {
  position: relative;
  margin-left: 64px;
}

.intro .orign .orign-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 56px;
  background-color: #161A14;
  top: calc(50% + 0.1rem);
  left: -65px;
}

.intro .package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .package img {
  width: 57%;
}

.intro .package .package-text {
  width: 240px;
  margin-right: 121px;
}

.intro .package .package-text .package-title {
  margin-bottom: 32px;
  margin-left: 64px;
  position: relative;
}

.intro .package .package-text .package-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 56px;
  background-color: #161A14;
  top: calc(50% + 0.1rem);
  left: -65px;
}

@media (max-width: 768px) {
  .intro {
    margin: 80px 0px;
  }
  .intro .orign {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro .orign img {
    width: 100%;
  }
  .intro .orign .orign-text {
    width: 100%;
    margin-left: 0px;
  }
  .intro .package {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro .package img {
    width: 100%;
  }
  .intro .package .package-text {
    width: 100%;
    margin-right: 0px;
  }
}

.cookie {
  background-color: #738673;
}

.cookie .cookie-title {
  padding: 32px 0px;
  color: #F0F0F0;
}

.cookie .cookie-viewMore {
  padding: 32px 0px;
  text-align: right;
}

.cookie .cookie-viewMore .viewMore {
  position: relative;
  padding-right: 48px;
  color: #F0F0F0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.cookie .cookie-viewMore .viewMore:hover {
  color: rgba(240, 240, 240, 0.5);
}

.cookie .cookie-viewMore .viewMore:hover::before {
  background-color: rgba(240, 240, 240, 0.5);
}

.cookie .cookie-viewMore .viewMore::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #F0F0F0;
  top: calc(50% + 0.1rem);
  right: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.cookie-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cookie-item li {
  width: calc( (100% - 72px) / 4);
  position: relative;
}

.cookie-item p {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 6px;
  background-color: rgba(22, 26, 20, 0.5);
  color: #F0F0F0;
}

@media (max-width: 768px) {
  .cookie .cookie-title {
    font-size: 24px;
    text-align: center;
  }
  .cookie .cookie-viewMore {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .cookie-item li {
    width: calc( (100% - 24px) / 2);
    margin-bottom: 16px;
    position: relative;
  }
}

.present {
  margin: 100px 0px;
}

.present h2 {
  margin-bottom: 100px;
}

.present-title {
  text-align: center;
}

.present-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.present-list .present-item {
  width: calc( (100% - 72px) / 3);
  position: relative;
}

.present-list .present-item .present-item_title {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: -51px;
  left: 24px;
  letter-spacing: 8px;
  font-weight: 500;
}

.present-list .present-item p {
  text-align: center;
  margin-top: 24px;
}

.present-list .present-item .present-more {
  margin-left: 24px;
  margin-top: 16px;
}

.present-list .present-item .present-more a {
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.present-list .present-item .present-more a:hover {
  color: rgba(22, 26, 20, 0.5);
}

.present-list .present-item .present-more a:hover::before {
  background-color: rgba(22, 26, 20, 0.5);
}

.present-list .present-item .present-more a::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #161A14;
  top: 50%;
  right: -48px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 768px) {
  .present {
    margin-top: 80px;
    margin-bottom: 0px;
  }
  .present .present-title {
    font-size: 24px;
  }
  .present-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .present-list .present-item {
    width: 100%;
    margin-bottom: 100px;
  }
  .present-list .present-item p {
    text-align: right;
    margin-top: 16px;
  }
  .present-list .present-item .present-more {
    text-align: right;
    padding-right: 50px;
  }
}

footer {
  background-color: #738673;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #F0F0F0;
}

.footer-content li {
  padding-top: 44px;
  padding-bottom: 24px;
}

.footer-content .pagetop {
  position: relative;
  padding-right: 9px;
}

.footer-content .pagetop a {
  color: #F0F0F0;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer-content .pagetop a:hover {
  color: rgba(240, 240, 240, 0.5);
}

.footer-content .pagetop a:hover::before {
  background-color: rgba(240, 240, 240, 0.5);
}

.footer-content .pagetop a::before {
  position: absolute;
  content: "";
  height: 80px;
  width: 1px;
  top: -10px;
  right: 0px;
  background-color: #F0F0F0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
  padding-bottom: 24px;
  color: #F0F0F0;
}

.instagram img {
  margin-right: 16px;
  color: #F0F0F0;
  font-weight: 300;
}

.copyright {
  font-size: 12px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}
/*# sourceMappingURL=all.css.map */