/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-xl {
  max-width: 1352px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

body {
  font-family: "Noto Sans TC", sans-serif " , Noto Serif TC", serif;
  font-weight: 400;
  background-color: #F0F0F0;
  color: #161A14;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 48px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-3 {
  width: calc(100% / 4 - 24px);
}

.col-4 {
  width: calc( (100% - 72px) / 4);
}

header {
  background-color: #F0F0F0;
}

nav {
  background-color: #F0F0F0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav .topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  padding: 20px 0px;
}

nav .nav-content {
  width: 389px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-content li a {
  color: #161A14;
}

.banner {
  position: relative;
}

.banner img {
  padding-top: 50px;
}

.banner-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #F0F0F0;
  position: absolute;
  top: 40%;
  right: 12%;
}

.intro {
  margin-top: 100px;
  margin-bottom: 100px;
}

.intro .orign, .intro .package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .orign .orign-text, .intro .package .orign-text {
  width: 240px;
  margin-left: 121px;
}

.intro .orign .orign-text h4, .intro .package .orign-text h4 {
  margin-bottom: 32px;
}

.intro .orign img, .intro .package img {
  width: 57%;
}

.intro .orign {
  margin-bottom: 32px;
}

.intro .orign .orign-title {
  position: relative;
  margin-left: 64px;
}

.intro .orign .orign-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 56px;
  background-color: #161A14;
  top: calc(50% + 0.1rem);
  left: -65px;
}

.intro .package {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.intro .package .package-text {
  width: 240px;
  margin-right: 121px;
}

.intro .package .package-text .package-title {
  margin-bottom: 32px;
  margin-left: 64px;
  position: relative;
}

.intro .package .package-text .package-title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 56px;
  background-color: #161A14;
  top: calc(50% + 0.1rem);
  left: -65px;
}

.cookie {
  background-color: #738673;
}

.cookie .cookie-title {
  padding: 32px 0px;
  color: #F0F0F0;
}

.cookie .cookie-viewMore {
  padding: 32px 0px;
}

.cookie .cookie-viewMore .viewMore {
  display: block;
  position: relative;
  padding-right: 48px;
  text-align: right;
  color: #F0F0F0;
}

.cookie .cookie-viewMore .viewMore::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #F0F0F0;
  top: calc(50% + 0.1rem);
  right: 1px;
}

.cookie-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cookie-item li {
  width: calc( (100% - 72px) / 4);
  position: relative;
}

.cookie-item p {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 6px;
  background-color: rgba(22, 26, 20, 0.5);
  color: #F0F0F0;
}
/*# sourceMappingURL=all.css.map */