@import 'reset';
@import 'base';
@import 'variables';

header{
    background-color: $primary;
    
}
nav{
    background-color: $primary;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 20px 0px;
}
    .nav-content{
        width: 389px;
        justify-content: space-between;
        display: flex;
        li{
            a{
                color:$black-100;
            }
        }
    }
}

.banner{
   height: 100vh;
   background-image: url("../images/newbanner.jpg");
   background-size: 100% auto;
   background-repeat: no-repeat;
}
// @media (min-width:768px){
//     .banner{
        
//     }
// }

.banner-text{
    writing-mode: vertical-lr;
    color:$primary;
    
}

.intro{
    margin-top: 100px;
    margin-bottom: 100px;
    .orign,.package{
        display: flex;
        align-items: center;
    
    .orign-text{
        width: 240px;
        margin-left:121px;
        
        h4{
            margin-bottom: 32px;
        }
    }
        img{
            width: 655px;
        }
    }
    .orign{
        margin-bottom: 32px;

        .orign-title{
            position: relative;
            margin-left: 64px;
            

            &::before{
                position: absolute;
                content: "";
                height: 1px;
                width: 56px;
                background-color:$black-100;
                top:calc(50% + 0.1rem);
                left:-65px;
            }
        }
    }
    .package{
        flex-direction: row-reverse;
        .package-text{
            width: 240px;
            margin-right: 121px;

            .package-title{
                margin-bottom: 32px;
                margin-left: 64px;
                position: relative;
               

                &::before{
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 56px;
                    background-color:$black-100;
                    top:calc(50% + 0.1rem);
                    left:-65px;
                    
                }
            }

        }
    }
}
.cookie{
    background-color: $secondary;
    .cookie-title{
        padding: 32px 0px;
        color:$primary;
    }
.cookie-viewMore{
    padding: 32px 0px;
    .viewMore{
        display: block;
        position: relative;
        padding-right: 48px;
        text-align: right;
        color:$primary;
    
        &::before{
            position: absolute;
            content: "";
            height: 1px;
            width: 40px;
            background-color: $primary;
            top:calc(50% + 0.1rem);
            right:1px;

        }
    }
}
}
.cookie-item{
 
    justify-content: space-between;
    li{
        width: calc( (100% - 72px) / 4);
        position: relative;
    }
    p{
        position: absolute;
        width: 100%;
        bottom: 0px;
        text-align: center;
        padding: 6px ;
        background-color: $black-50;
        color:$primary;
        
    }
}

